go 1.18

use (
	./common-v2.3.2
	./config
	./consensus-utils-v2.3.3
	./localconf-v2.3.2
	./logger-v2.3.0
	./modules
	./net-common-v1.2.3
	./network/libp2p
	./network/libp2p-pubsub-v1.1.3
	./protobuf/pb-go-v2.3.3
	./protocol-v2.3.3
	./starter
	./utils-v2.3.2
)
